    <!-- Header -->
    <header>
        <nav>
            <div class="logo">🏥 HealthCare</div>
            <ul class="nav-links">
                <li><a href="/" class="nav-item" >Home</a></li>
                <li><a href="/find_doctor" class="nav-item">Find Doctors</a></li>
                <li><a href="/appoinments" class="nav-item">My Appointments</a></li>
         
            </ul>      <div class="auth-buttons">
                <a href="/login" class="btn btn-outline">Login</a>
            
            </div>
        </nav>
    </header>